.product-card-container {
    width: 200px;
    padding: 20px 15px 20px 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 22px 12px 22px 20px;
    transition: border-color 0.3s ease; 
}

.product-card-container:hover {
    border-color: #4251d9; 
}

.product-img {
    display: flex;
    justify-content: center;
}

.img {
    width: 150px;
}

.product-card-current {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #1E73BE;
    font-weight: bold;
    font-size: 20px;
}

.product-card-whichpet {
    color: #656565;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.product-card-detail {
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: -20px;
}

.product-card-price {
    color: #273172;
    font-size: 20px;
}