.service-card-container{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 22px 12px 22px 20px;
}
.card-icon{
    
}
.service-card-title{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
.service-card-information{
    font-size: 15px;
    color: #656565;
}
.service-card-button{
    width: 120px;
    height: 30px;
    background-color: #EFEFEF;
    border-radius: 90px;
}
.button-detail{
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
}